.home-container{
    text-align: center;
    padding: 20px;
}
.home-container.light{
    background-color: aliceblue;
    color: black;
}
.home-container.dark{
    background-color: black;
    color: aliceblue;
}